<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
    xmlns:context="http://www.springframework.org/schema/context">

<bean id="pointA" class="com.spring.tut.SpringTutorial.Point">
		<qualifier value="circleRelated"/>
		<property name="x" value="0"/>
		<property name="y" value="0"/>
</bean>

<bean id="pointB" class="com.spring.tut.SpringTutorial.Point">
			<property name="x" value="-20"/>
			<property name="y" value="0"/>
</bean>
<bean id="center" class="com.spring.tut.SpringTutorial.Point">
			<property name="x" value="0"/>
			<property name="y" value="20"/>
</bean>
<bean class="com.spring.tut.SpringTutorial.MyEventListenener"/>
<bean id="circle" class="com.spring.tut.SpringTutorial.Circle"/> 

<context:annotation-config/>

</beans>